# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Ignore build files
dist/
out/
build/

# Ignore logs
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Ignore dependency lock files (optional)
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignore VS Code settings
.vscode/

# Ignore macOS system files
.DS_Store
